body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
    flex: 1 0 auto;
    padding: 20px;
}
.carousel-item img {
    width: 300px !important;
    height: auto;
    margin: 0 auto;
    margin-top: 15px;
    max-width: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

footer {
    padding: 0px;
    text-align: center;
    flex-shrink: 0;
}
